.about-section {
  height: 100vh;
  overflow: hidden;
}

.about-container {
  display: flex;
  height: 100%;
}

/* LEFT SIDE */
.about-left {
  width: 30%;
}

.sticky-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.sticky-wrapper img {
  max-width: 100%;
  height: auto;
}

/* RIGHT SIDE */
.about-right {
  width: 70%;
  height: 100vh;
  overflow-y: auto;
  padding: 60px 50px;
}

/* 
.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
} */

.about-content h4 {
  margin-top: 30px;
  font-size: 18px;
  text-align: left;
  padding: 0px 10px;
  border-left: #E8D203 3px solid;
}

.about-content p {
  margin-top: 10px;
  line-height: 1.7;
  text-align: justify;
}

.about-content ul {
  margin-top: 10px;
  padding-left: 20px;
}

.about-content li {
  margin-bottom: 8px;
}

/* TABLET */
@media (max-width: 992px) {
  .about-left {
    width: 45%;
  }
  .about-right {
    width: 55%;
    padding: 40px 30px;
  }
}

/* MOBILE */
@media (max-width: 768px) {

  .about-section {
    height: auto;
    overflow: visible;
  }

  .about-container {
    flex-direction: column;
  }

  .about-left,
  .about-right {
    width: 100%;
    height: auto;
  }

  .sticky-wrapper {
    position: relative;
    height: auto;
    padding: 20px;
  }

  .about-right {
    overflow: visible;
    padding: 30px 20px;
  }

}
